<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{title}}</a>
  <ul class='nav nav-pills'>
    <li>
      <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="location" name="Id">
        <option selected="" value="">--Select Location--</option>
        <option [ngValue]="location" *ngFor="let location of locations">
          {{location}}
        </option>
      </select>
    </li>
    <li>      
      <a class='nav-link' [routerLink]='["/restaurant",location]'>Submit</a>
    </li>
  </ul>
</nav>